<!DOCTYPE html>
<html>
    <head>
        <title>Bear Bites</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">
        <div id="content"></div>
        <script type="text/javascript" src="/static/script.js"></script>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
        
        <!--Google Script file -->
        
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <style>
	        body,h1,h2,h3,h4,h5,h6 {font-family: "Open sans", sans-serif}
	        .w3-bar-block .w3-bar-item {padding:20px}
        </style>
        
		<link rel="stylesheet" href="static/bootstrap.min.css">
		<link rel="stylesheet" href="static/style.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		
		<script src="static/jquery.js"></script>
		<script src="static/bootstrap.min.js"></script>
    </head>
    <body>
    	
    </body>
</html>




